<html>
    
    <head> 
        <title>User Info</title>
        <link href="{{asset('bundles/abdulcrud/css/parsley/mocha.css')}}" rel="stylesheet">
        {%block stylesheet%}
        {%endblock%}
    </head>
    
    <body>
    {%block container%}
            
    {%endblock%}
            <script src="{{asset('bundles/abdulcrud/js/parsley/jquery.min.js')}}"> </script>
            <script src="{{asset('bundles/abdulcrud/js/parsley/parsley-standalone.min.js')}}"> </script>
            <script src="{{asset('bundles/abdulcrud/js/parsley/parsley.extend.min.js')}}"> </script>
            <script src="{{asset('bundles/abdulcrud/js/parsley/parsley.min.js')}}"> </script>
            
            {%block javascripts%}
            {%endblock%}
    </body>
    
</html>
