{%extends "AbdulCrudBundle:Default:index.html.twig"%}
{%block container%}

<form method = "POST" action = "{{path('abdul_crud_homepage')}}" data-validate="parsley">
    <h2> User Details </h2>
    <input type="text" placeholder="First Name" name="firstname" data-required="true" data-trigger="change"> <br />
    <input type="text" placeholder="Last Name" name="lastname" data-required="true" data-trigger="change"> <br />

    <button type="submit">Submit</button>
    <a href="{{path('abdul_crud_insert')}}">Add User</a>
    <a href="{{path('abdul_crud_homepage')}}">View User</a>
    <a href="{{path('abdul_crud_delete')}}">Delete User</a>
    <a href="{{path('abdul_crud_update')}}">Update User</a>
</form>
{%if name is defined%}
<strong>Hello {{name}} {{lname}}</strong>
{%endif%}
{%endblock%}